body, html {
  height: 100%;
}

.bg {
  background-image: url("images/fishBackground.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: blue;
  text-align: center;
  padding: 20px;
  font-size: 60px;
  margin: 0px;
}

form {
  position:relative;
  z-index: 1;
  }

.label {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.input {
  font-size: 24px;
  background-color: lightblue;
}

audio {
  margin-left: 50px;
}

.fish {
  width: 150px;
  height: 150px;
  padding: 8px;
  display: grid;
  place-content: center;
  text-align: center;
  border-radius: 50%;
  
  position: absolute;
  animation: linear infinite;
  animation-name: swim;
}

@-webkit-keyframes swim {
  0% {
    left: -10%;
  }
  100% {
    left: 110%;
  }
}